
.logo-nav{
    display : flex;
}

 .logo-img{
    width : 100px;
    height : 100px;
 }
 h1{
    font-family: fantasy;
    font-size: 60px;

 }
 .paragraph{ 
    font-weight: 400;
    font-size: 30px;
    text-shadow: 3px 3px 5pxb  rgb(108, 63, 192);
    /* letter-spacing:3px ; */
    word-spacing: 3px;
    line-height: 50px;
    text-align: center;
    color:white;
    background-color: rgb(1, 14, 1);
    

 }
    .paragraph2{
        opacity: 0.5;
        
    }
.hero-div{
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.Wlh7V7OhMKngqczR7GSJVAHaEO?pid=Api&h=220&P=0);
    background-size: cover;
    background-position: center;
    height: 400px;
    
}